<div class="row">
    <div class="col-sm-12">
        <h1>My Heroes</h1>
    </div>
</div>
<div class="row" *ngIf="error">
    <div class="col-sm-12">
        <div class="alert alert-danger">{{ error }}</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
        <table class="table table-hover">
            <tbody>
                <tr *ngFor="let hero of heroes" (click)="onSelect(hero)">
                    <td><span class="badge badge-primary">{{hero.id}}</span></td>
                    <td>{{hero.name}}</td>
                    <td>
                        <button type="button"
                                class="btn btn-danger btn-sm"
                                (click)="deleteHero(hero, $event)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12">
        <button class="btn btn-success" (click)="addHero()">Add New Hero</button>
    </div>
    <div class="col-sm-12" *ngIf="addingHero">
        <my-hero-detail (close)="close($event)"></my-hero-detail>
    </div>
</div>
<div class="row mt-3" *ngIf="selectedHero">
    <div class="col-sm-12">
        <h2>{{selectedHero.name | capitalize}} is my hero</h2>
        <a class="btn btn-primary"
           [routerLink]="['/detail', selectedHero.id]">
            View Details
        </a>
    </div>
</div>
